.background-sm {
    display: none;
}

@media screen and (max-width: 768px) {
    /* For mobile phones & tablets */
    
    .background-lg {
        display: none;
    }
    
    .background-sm {
        display: block;
    }

    #overlay-text {
        height: fit-content;
        float: center;
        text-align: center;
        position: absolute;
        left: 25%;
        top: 70%;
        color: #ffffff;
    }

    #label-hey {
        font-size: 150%;
    }
    
    #label-dhaval-popat {
        font-size: 200%;
    }
}
