img {
    max-width: 100%;
    height: auto;
}

a {
    font-size: 35px;
    color: #00acc1;
}
    a:hover {
        text-decoration: none;
        color: #00838f;
    }

.company-logo-details {
    background-color: #eceff1;
    border-radius: 10%;
}

.company-logo {
    padding: 10%;
}
